[2018-11-18 01:03] Eluminati opened #1 "Uncaught TypeError: Illegal invocation"
If you try to inherit from a native Element such as HTMLElement, then you get an Uncaught TypeError: Illegal invocation.

[code]

I think this can become the best solution for mixins. If you look for https://www.npmjs.com/package/ts-mixins you will see that there is the issue, that the first instance of my Controller is an instance of BaseComponent and later its an instance of a native HTMLElement

[2018-11-18 12:37] tannerntannern commented on #1
Hi @Eluminati, I was finally able to reproduce the issue you described within the test suite.  Unfortunately, I don't have time to look into this right away, but I created an [issue-1](https://github.com/tannerntannern/ts-mixer/tree/issue-1) branch with the scaffolding to reproduce the `TypeError: Illegal invocation` you described.  If you or anyone else wants to contribute to that branch, it woul

[2018-12-23 17:34] tannerntannern commented on #1
I apologize for the long delay.  Given that WebComponents don't seem to have very wide support yet, this issue may be out of my control.  Closing for now.

[2018-12-23 17:34] #1 closed

[2019-01-09 06:14] shrinktofit opened #2 "ES6 compile target causes "Cannot call class as function" error"
Our project use babel-typescript-plugin as compiler, in generated code, here is:
[code]
I see that ts-mixer call constructor explicitly.

See https://github.com/babel/babel/issues/700#issuecomment-73180719

[2019-01-09 17:00] tannerntannern commented on #2
Is this a babel-specific issue?  Does this cause errors for you when you compile or at runtime?

[2019-01-11 02:06] shrinktofit commented on #2
yes it happen at runtime

[2019-01-14 04:16] tannerntannern commented on #2
Thank you for adding more information.  I now see the issue.  I will have to think of the best way to resolve that.

[2019-01-14 08:35] shrinktofit commented on #2
The reason is that our project had never limit our target to only ES5... :)

[2019-01-14 18:34] tannerntannern commented on #2
Well, the only suggestion I can give you is to not target ES6 for now.  Calling constructor functions without `new` is what allows this library to work, so I'm afraid this is out of my control.  I'm making a point to note this issue in the README.

I do appreciate the issue submission and I'm sorry there's not a better solution at the moment.

[2019-01-17 14:01] javix opened #3 "TypeError: WEBPACK_IMPORTED_MODULE_0__.CrudApi is not a constructor"
If I instantiate a mixin in another ts file I get a error.

Here is the code in a file (it works).
[code]

But that does not work:
File api.ts
[code]

Error:
[code]

[2019-01-17 14:57] tannerntannern commented on #3
Hmm.  I believe I have used ts-mixer in this fashion before, so perhaps it is a bundling/exporting issue.  Try this and let me know if it works:

Instead of using `export class CrudApi` and `export interface CrudApi`, declare them both without exporting them, then put `export {CrudApi}` afterwards.  If that doesn't work, try putting the interface declaration before the class declaration.

To me, i

[2019-01-17 15:49] tannerntannern commented on #3
Shoot.  The only other thing I can think of that could be causing this is the version of JS you're targeting in your `tsconfig.json`.  There was one other recent issue that revealed that `ts-mixer` can't work when compiling to es6 because es6 makes it impossible to call constructors without using `new`.  Have a look at #2 and [this warning from the docs](https://github.com/tannerntannern/ts-mixer#

[2019-01-17 15:49] #3 closed

[2019-01-18 08:42] javix commented on #3
Everything works now. Sorry, my mistake.

[2019-03-29 06:42] danielpaull commented on #2
I had a bit of a play with ES6 proxies.  With some more work, perhaps this is a viable route to go for ES6?

`
function Mixin(...constructors: Constructor<any>[]) {
  let MixinHandler = {
    get(target : any[], propKey : string | symbol, receiver : any) {
        for( let b of target ) {
          if( Reflect.has( b, propKey ) ) {
            return Reflect.get( b, propKey, receiver )
          }

[2019-03-30 13:53] tannerntannern commented on #2
Thanks for looking into this!  I have a few concerns though:  Primarily, adding Proxies may work fine for ES6 compilation, but it will have to be polyfilled for earlier targets, which seems a bit overkill.  Also, I'm not quite sure what purpose the Proxy serves here.  Could you elaborate?

[2019-04-01 01:17] danielpaull commented on #2
In ES6 you can't invoke the constructors as you've been doing (as is the subject of this issue).  An alternative is to construct them in the normal manner and then compose them using a Proxy so that the proxy appears to have the union of all the properties of the classes being mixed in.  The major difference will be the handling of "this", but there is probably some rebinding that could be done to

[2019-04-02 00:28] tannerntannern commented on #2
Thank you for the explanation.  I think I understand what you're going for, but `new Proxy( constructors.map( c => new c ), MixinHandler );` is still tripping me up.  Doesn't this just create a proxy for the _array_ of instantiated constructors?  I am familiar with Proxies (I even have another library published that relates to them), and I'm pretty sure this doesn't work as you describe.  Perhaps

[2019-04-02 03:47] danielpaull commented on #2
Yes, the target of the Proxy is an array of objects.  The traps (only partially implemented) on the Proxy search this array of objects for objects to as required.

Just a couple of comments on your three bullet points:

1. Agreed completely.  I think that this was a mistake in ES6.  Breaking changes in the language should be replaced with an alternative.  In this case they could have supplied a le

[2019-04-02 04:45] tannerntannern commented on #2
Ah, I should have read the proxy handler more carefully.  My apologies.

ES5 becoming irrelevant over time is definitely a compelling reason to reconsider this issue...  Proxies may be the way to go.

On a different note, I've been pondering different ways one could "extract" a callable function given an ES6 class.  Forgive my poor sketch (I'm low on sleep), but perhaps something like this could o

[2019-04-03 05:18] danielpaull commented on #2
Something like that could work, but I'm sure that there would be some interesting cases to cover, like handling calls to super class constructors.  Personally I feel like extracting code and then eval'ing should be a last resort, but if other options are exhausted then so be it.

Another option is to extend TypeScript through a Transformer and fiddle with the generated JS code that way.  But, my l

[2019-04-03 22:52] tannerntannern commented on #2
I definitely agree that extracting and eval()ing code from a string feels very hackey.  However, it avoids the compatibility issues previously discussed, and I think I have an idea on how to handle the `super()` situations.  I'll be fiddling with it over the next few days.  Feel free to peek at the progress on the [3.0-rewrite](https://github.com/tannerntannern/ts-mixer/tree/3.0-rewrite) branch.

[2019-04-04 02:39] danielpaull commented on #2
Just thinking aloud - what happens with functions that are stringified and then eval'd in a different context, but they depend on variables defined in the original context, like imported modules or variables captured by a closure?  Will this approach only work for a narrow set of use cases?

[2019-04-04 02:59] tannerntannern commented on #2
Oh shoot, you're right... That might be impossible to get around too.  The super call issue could be worked around because you can access the superclass constructor directly with `Object.getPrototypeOf(SubClass.prototype).contructor`, but closures are a whole different problem.  I'll have to rethink my approach and/or give the Proxy option a closer look.

[2019-04-18 03:12] tannerntannern commented on #2
Sorry for such a long delay.  Just wanted to give a quick update:

I've exhausted several options to fix this issue, and for now the most practical, non-complicated solution is to simply use `new` and copy the properties over manually.  Here's a snippet from the 3.0 branch that illustrates my simplistic approach:

[code]

A [bug in the TypeScript compiler](https://github.com/Microsoft/TypeScript/i

[2019-05-14 02:21] tannerntannern commented on #2
v3.0.0 has been released, which should resolve this issue.

[2019-05-14 02:21] #2 closed

[2019-05-16 14:52] th0r opened #4 "Forgot to add `is-class` dependency?"
Webpack throws `Module not found: Error: Can't resolve 'is-class' in '/project/node_modules/ts-mixer/dist'` during compilation process.

`dist/mixins.js` contains `var isClass = require("is-class");` on line 3, but the dependencies list is empty in `package.json`.

[2019-05-16 15:11] th0r opened #5 "Support getters/setters in mixin classes"
https://github.com/tannerntannern/ts-mixer/blob/096e88904ae78b36244cda6193e204f213b7f461/src/mixins.ts#L148
This line doesn't properly defines a property on target prototype if it's a getter/setter.
Probably this code can be used instead but I didn't test it:
[code]

[2019-05-16 16:32] tannerntannern commented on #4
Oh goodness!  What a silly mistake...  I just released a patch that should resolve it!  Thank you for reporting this!

[2019-05-16 16:32] #4 closed

[2019-05-17 04:06] tannerntannern commented on #5
Thank you once again for helping improve the the project!  I hadn't thought about getters/setters in this context before.

I implemented something based on what you suggested and added a basic test case to test the feature directly.

I'm closing this for now as the requested change has been applied, but please feel free to suggest any other improvements or how I might better test the feature withi

[2019-05-17 04:06] #5 closed

[2019-05-17 08:58] th0r opened #6 "Mixing using `decorator` doesn't work right"
Here is the code:
[code]

The output is:
[code]
That's because `Mixin(BaseClass, ...ingredients)` is not the same as `class BaseClass extends Mixin(...ingredients)`.

[2019-05-18 03:27] tannerntannern commented on #6
Thank you once again!   I'm looking into this presently.  The code you provided will make writing the test case much easier.  👍

[2019-05-18 03:57] tannerntannern commented on #6
Just published the the patch, thank you again for reporting!

[2019-05-18 03:57] #6 closed

[2019-06-28 03:46] ravenscar opened #7 "reflect-metadata is lost when mixing in"
I'm trying to use this with classes which have metadata added via `reflect-metadata`.

Previously I was using the old TS mixin style (https://www.typescriptlang.org/docs/handbook/mixins.html) but all of my classes are generic and the hoops that I need to jump through are extreme!

I think the typings you have done a re really nice and it's a decent way of achieving a similar result.

I have a lot

[2019-06-28 11:58] tannerntannern commented on #7
Thank you very much for your contribution!  I will take a closer look at this after work this afternoon.

[2019-07-23 00:31] ravenscar commented on #7
Hey, I'm going to cancel this PR as I could never get it working to my satisfaction.

Since the metadata is attached to the prototype via symbols I could not see a clean way of copying the metadata from one class to another without internal knowledge of the `reflect-metadata` package (which could change) or passing all the symbols (often unknown).

I also ran into some other problems which turned

[2019-07-23 00:31] #7 closed

[2019-07-29 22:49] sionzeecz opened #10 "Statics are not inherited"
Hello! I just installed your module to our project and unfortunely we met an issue during implementation.

We have a lot of nested classes what have statics attributes\methods. But these methods are not accessible when the classes are loaded through your Mixin.

I have created a simple example for you.

[code]

If I type `TEST2.a` to console. The function is undefined.

Maybe it could be related t

[2019-07-29 23:10] tannerntannern commented on #10
Hi @sionzeecz, thanks for reporting this!  I added a [test case](https://github.com/tannerntannern/ts-mixer/commit/d3c08113e78bf20b5a540e327b63f8d06d93192e) using the example that you provided and there does seem to be [an issue](https://travis-ci.org/tannerntannern/ts-mixer/builds/565225336) specifically when targeting to ES6.

I didn't include any of the babel configuration stuff, so fingers cro

[2019-07-30 00:15] tannerntannern commented on #10
I just [released a patch](https://www.npmjs.com/package/ts-mixer/v/3.1.3) for this issue.  I believe it was caused by the fact that static methods are not enumerable, while non-function static properties are (for some reason 😒).

Anyway, thanks again for reporting the bug!  😄

[2019-07-30 00:15] #10 closed

[2019-07-30 03:11] sionzeecz opened #11 "static attributes are not inherited from derived class"
Hello again!

I have a class what inherits another class. Where the another class has static attributes but [line 163](https://github.com/tannerntannern/ts-mixer/blob/5708c87e58ad7adfabe73a4627bdc4a246969e68/src/mixins.ts#L163) doesn't take in account inner prototypes.

Case:
[code]
`scope` is undefined at `TEST2`.

Here is an example of constructor to describe the issue:
Class2 constructor contai

[2019-07-30 10:56] sionzeecz commented on #11
The same thing is also happening to functions. But it totally makes sense to me.

[2019-07-30 14:56] tannerntannern commented on #11
Hi @sionzeecz, I apologize for the delay.  I will take a look at this after work.  I'm pretty sure I know what's going on, so it will hopefully be a quick fix.  👍

[2019-07-31 00:39] tannerntannern commented on #11
Turns out it's not as simple as I had hoped...  This issue isn't caused by omitting the prototype at 169 as you had suggested, the "inheritance" happens earlier.  The problem is rooted in the fact that ES6 differs from other languages in how static properties are handled.  Try this in the console for example:

[code]

What's going on here?  Is `B.prop` linked to `A.prop`?  Sure seems like it after

[2019-07-31 06:43] sionzeecz commented on #11
Hey!

You are definitely right. This is really weird behaviour from ESM.
Unfortunely I couldn't make inherited classes as mixin because they are in other modules.

I'm using inner attributes in read-only mode. So we will not modify the values.

As we are in, primitive types don't support references and are passed by values.
So we should be able to read the functions or constants what are inherited

[2019-07-31 14:06] tannerntannern commented on #11
Can you explain a little more why the solution I suggested won't work for you?  I'm not sure what you mean by they're in other modules.

As for static property handling, I'm really hesitant to pass by value.  As I said, other languages don't do it that way and _technically_ neither does ES6.  It passes by reference _until_ the inherited value is modified.  _Only then_ does it become pass by value.

[2019-07-31 20:59] sionzeecz commented on #11
Lets say you are using some kind of framework what is giving you abstract classes and interfaces.
You will implement these interfaces and send it back to the framework. But the framework will throw an error because he doesn't found a static functions\constants.

For example:
Framework's code (part of node_modules)
[code]

Now in your code you will have something like:
[code]

Now. I can modify onl

[2019-08-01 01:51] tannerntannern commented on #11
After some careful thought, I've decided to not go against the grain with ES6 and just pass by value.  This is technically a breaking change so I've released it as 4.0.0.  This should resolve the test case that you provided at the beginning of this issue.  Closing for now, feel free to reopen if you see issues with that solution.

[2019-08-01 01:51] #11 closed

[2019-11-16 20:29] KrisBraun opened #13 "Abstract mixins"
I'd like to use abstract classes for mixins to impose requirement on the classes that use them, like this:

[code]

This produces an error on the `Mixin` line:
[code]

Could something like this be possible?

[2019-11-16 21:17] tannerntannern commented on #13
Hi Kris, thanks for opening this issue.  As it stands currently, this would be difficult to support.  Before I go down any rabbit holes, can I get some more context as to why you want to do this?

[2019-11-16 22:16] KrisBraun commented on #13
Thanks for the quick response (and creating such a useful library)!

I have models with an underlying datastore, and I'd like to create mixins that are agnostic to those details. For example, a mixin that provides item ordering operations may need to know whether the model object is in a completed state. The cleanest way to do this seems to be for the mixin to have an abstract `completed` function

[2019-11-16 23:16] tannerntannern commented on #13
Hmm... and I assume the reason you didn't go with an interface is because interfaces can't have `protected` properties?

[2019-11-17 01:10] KrisBraun commented on #13
An interface instead of a mixin? I'm using the latter since the non-abstract methods have implementations.

My workaround for now is to make the mixin class concrete and provide implementations of the required methods that throw errors. Effectively, I miss out on static checking that all required methods are implemented, but get the rest of the what I want.

[2019-11-17 01:39] tannerntannern commented on #13
Yeah, my suggestion was to move the abstract methods into a separate interface from the mixin, so the mixin class doesn't have to be abstract.  Then you could do something like:

[code]

However, I now see that this may not work for you since the methods are interdependent.  🤔

[2019-11-17 01:42] tannerntannern commented on #13
I do think mixing abstract classes could be useful.  However, I'm not sure how to handle the "abstractness" of the mixed result.  Say you mix a concrete and an abstract class:  what should the mixed class be?  Abstract?  What if the concrete class implements all the required methods?  Should it still be abstract or concrete?

[2019-12-05 04:16] KrisBraun opened #14 "TypeError: Cannot call a class as a function (only in production build)"
Using tx-mixer 4.0.0 with react-scripts 3.3.0 + typescript 3.7.2, I'm getting "TypeError: Cannot call a class as a function" inside the constructor of a mixin-using class, but only in the production build. The development build works. I saw #2 but it seems that affected all builds and was resolved. Any ideas?

[2019-12-05 12:04] tannerntannern commented on #14
Can you clarify what you mean by production/development build?  Is this a react-scripts-specific thing?  If so, I'm not exactly sure how to troubleshoot it.

[2019-12-05 13:26] KrisBraun commented on #14
By production, I mean the minified, optimized build that's produced by "npm
run build", as opposed to the development version produced by "npm start".
I can do some digging to see figure out the commands and options used in
each case to narrow down the difference. I'm guessing it's related to some
compiler optimization applied.

On Thu., Dec. 5, 2019, 7:04 a.m. Tanner Nielsen, <notifications@githu

[2019-12-05 18:30] tannerntannern commented on #14
Currently, ts-mixer tries to determine whether the classes being mixed are ES6 classes or the old style function-based "classes" at runtime.  The reason ts-mixer cares is because it wants apply the constructor function directly to `this` whenever possible to avoid unexpected results.  ES6 classes annoyingly disallow calling constructors without `new`.

With all of that said, compiling for pre-ES6

[2019-12-06 03:23] KrisBraun commented on #14
I can confirm that the issue is fixed if I change

[code]

to

[code]

[2019-12-06 13:24] tannerntannern commented on #14
Right.  Another temporary workaround would be to change your TS compile target to ES5, which transforms all classes into the function style, thus avoiding the "Cannot call a class as a function" issue.  I've made a note to investigate a better ES6 solution moving forward.

[2020-01-07 00:49] tannerntannern commented on #13
Hi again Kris.  I was messing around with a workaround for this problem and I came up [with this](https://www.typescriptlang.org/play/index.html#code/JYWwDg9gTgLgBAbzgWWAD2AOzgXzgMyghDgHIYBnAWhHQFMpSAoJgYwBsBDCiuABU5Q6meAhwsA9BLjFg8GAAs6cAAacARhRhROrGCrgBrOgE8A7tAAmcJULZcecACp0tqDNgRM4cMAFd1dmBWOABzOnh1QQAKAEpEbx84IRg-KGxFYAoAOnwICETxRKk4AAFKKmBQzGhlKjgAIgBBTW1deBAIhQhLXlZObAhMdhM4TjAwOkE4MzkFLDHs

[2020-01-07 14:49] KrisBraun commented on #13
@tannerntannern, that is amazing! Works perfectly and completely handles my use case.

Out of curiosity, how did you know or discover abstract methods could be used outside abstract classes, with differing behaviour?

In any case, thank you very much for coming back to this. I find this library very helpful.

[2020-01-07 14:49] #13 closed

[2020-01-07 17:36] tannerntannern commented on #13
@KrisBraun, glad to hear it!

Regarding your question, the discovery was somewhat of an accident.  The problem that `Mixin(...)` has with abstract classes is that it expects each argument to conform to the type `{new(): InstanceType}` (simplified).  But of course, abstract classes _can't_ fit this type because they, by definition, can't be constructed.  Out of curiosity, I wanted to see what would

[2020-01-08 08:28] morrislaptop opened #15 "Doesn't pick up validation decorators for class-validator"
compared to the mixin function provided by TypeScript.

CODE

[code]

OUTPUT

[code]

[2020-01-09 01:32] tannerntannern commented on #15
Hi @morrislaptop, thanks for raising this issue.  I'm scratching my head a bit with this one because ts-mixer applies prototypes in a very similar fashion to the code provided by TypeScript under the hood.  I'm also not familiar with the `class-validator` package, so it's taking some time.  If you have any other insights that would help the troubleshooting process, I'd greatly appreciate it.

[2020-01-09 13:19] morrislaptop commented on #15
Thanks for looking into it! I think the `class-validator` package uses the decorators and maintains some metadata repository, so I actually have no idea why the TypeScript mixin works!

[2020-02-27 10:53] dnlfrst opened #16 "Module '"ts-mixer"' has no exported member 'Settings'"
Trying to use `Settings` gives the error `Module '"ts-mixer"' has no exported member 'Settings'`. See the [playground](https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=23&pc=47#code/JYWwDg9gTgLgBAbzgZQKYxsAdgcwM4A0cAssAB7ZwC+cAZlBCHAOQx4C0I5qUzA3ACgBaDNnwA6MAxgQYATzCpkMKAEMYqHHLgBeFlIhk5-IA) for an MWE.

[2020-02-27 22:19] tannerntannern commented on #16
Thanks for raising the issue.  The current README doesn't reflect the latest version in npm.  The version of ts-mixer being used in the playground is 4.x, which doesn't have `Settings`.  The version that has `Settings` is 5.x, which is currently in beta: https://www.npmjs.com/package/ts-mixer/v/5.0.0-beta.0

I apologize for the confusion!  Let me know if this doesn't resolve your issue.

[2020-03-01 02:16] #16 closed

[2020-03-02 12:22] naranjamecanica opened #17 "Getters / Setters not working anymore"
Hi,
I've upgraded to v5 and in my project (typescript -> babel -> js) a getter and setter method was not called any more in a class which was using a mixin.

Right now i've downgraded, next week I have more time to dive into the manner...

thanks 👍

[2020-03-02 19:44] tannerntannern commented on #14
This should be resolved in v5.0.0

[2020-03-02 19:44] #14 closed

[2020-03-02 19:47] tannerntannern commented on #17
Hi @naranjamecanica, thanks for raising the issue.  Could you please provide a minimal reproducible example?  Hard for me to troubleshoot without seeing your TS/Babel configs.

[2020-03-10 10:58] kenberkeley commented on #15
Actually:

[code]

[2020-03-13 20:32] kenberkeley commented on #15
After searching for a while, I found https://github.com/typestack/class-validator/pull/161/files
which might be helpful

[2020-03-13 21:12] kenberkeley commented on #15
https://github.com/typestack/class-validator/issues/307#issuecomment-456108557

[2020-03-14 02:06] tannerntannern commented on #15
Hi @kenberkeley, thanks for digging into this.  I briefly looked through the PR and threads you linked but it doesn't seem like there's a clear path forward here.  Did you have any specific ideas in mind?  As much as I'd like ts-mixer to be compatible with this library, I'm not sure it can be.  Folks who need these validators might be better off using the mixin style described in that typestack th

[2020-03-16 04:38] kenberkeley commented on #15
Hi @tannerntannern
Sorry for the late reply.
IMHO, I don't think `ts-mixer` should be coupled with `class-validator`'s implementation.
"Mixins" style provided by [`InheritValidation`](https://github.com/typestack/class-validator/pull/161) is better than multiple inheritance.

[2020-03-16 04:41] kenberkeley commented on #15
@tannerntannern By the way, `ts-mixer` should be the official solution for TS multiple inheritance 😂😂😂

[2020-03-17 14:53] tannerntannern commented on #15
Closing for now, as I don't see a clean path forward on this issue.  Feel free to comment with new ideas and I will reopen.

[2020-03-17 21:57] kenberkeley commented on #15
@morrislaptop Please don't blame me 😂 `class-validator` uses DI container to store the validation rules which is not a simple "inheritance" issue anymore.

[2020-03-23 09:41] Wintereise opened #18 "Mixin doesn't retain decorators"
My use case is simple. I use TypeORM as my ORM and we're trying to do something like this.

[code]

The problem is the fact that I do get SomeEntity that's a real mixin of the two classes, but lose the two decorators. As a result, the two properties do not get recognized as columns in TypeORM.

I am aware that I could manually re-apply the decorators by doing some shenanigans like `Column(...)(Som

[2020-03-24 03:29] tannerntannern commented on #18
Hi @Wintereise, thanks for raising the issue.  There seems to be a trend of compatibility issues between `ts-mixer` and other libraries that supply decorators (#15 for example).  This puts me in a tough spot because I want `ts-mixer` to stay as light as possible, but I would like it to be compatible with common libraries.  I can't support every decorator library, but TypeORM may be an exception be

[2020-03-24 04:40] Wintereise commented on #18
Hi. So, the bad news is -- both class-validator and typeorm unfortunately abuse a singleton collection (what they refer to as the DI container in issue #15) for metadata storage. They're by the same people, after all.

Here's where that takes place - https://github.com/typeorm/typeorm/blob/685d76b20464388c6f86c7d268770577452124b6/src/decorator/columns/Column.ts#L127

The reason for this sort of de

[2020-03-25 05:25] tannerntannern commented on #18
@Wintereise, I took a stab at a generic decorator wrapper and it didn't require a ton of code (small enough where I'd be willing to include it in `ts-mixer`).  I still need to do some more cleanup and testing, but it fixes my `class-validators` integration test, so I think this may be a promising path!  Let me know what you think:  https://github.com/tannerntannern/ts-mixer/commit/f5e3f47ff1191fcc

[2020-03-25 05:28] tannerntannern commented on #15
Good news: #18 revealed a potential strategy for resolving this issue.  My initial implementation actually fixes the integration test specifically for this issue (#15) so I'm hopeful!

[2020-03-25 06:17] Wintereise commented on #18
That's awesome. I'll give it a try shortly and report back my findings.

[2020-03-25 14:57] tannerntannern commented on #18
After sleeping on it, I think there's a way to do this with way less manual wiring.  I'll have another update later this evening when I've had a chance to refine the idea some more.

[2020-03-26 05:50] tannerntannern commented on #18
I still have a few housekeeping items, but I have a beta release available: https://www.npmjs.com/package/ts-mixer/v/5.1.0-beta.0

[2020-03-26 10:55] Wintereise commented on #18
I gave it a try, it seems to work well. However, I'm now running into another issue.

Basically, my code needs to know whether something is `DefaultAble` or not. Since instanceof support is not planned / in-scope, and the doc seems to say that it can trivially be worked around -- what are your recommendations here?

So far, I tried looking at the prototype chain (doesn't work for the same reason a

[2020-03-27 01:00] tannerntannern commented on #18
The last approach you mentioned it what I would have recommended.  Seems to work from my testing.  Perhaps it's just a typing problem?  If you aren't able to resolve it feel free to open another issue.

[2020-03-27 03:56] tannerntannern commented on #18
[5.1.0 has been released](https://www.npmjs.com/package/ts-mixer/v/5.1.0), which includes the decorator helper.  Closing this issue for now.

[2020-03-27 03:56] #18 closed

[2020-03-27 04:03] tannerntannern commented on #15
[5.1.0](https://www.npmjs.com/package/ts-mixer/v/5.1.0) has been released which contains solution for decorator libraries in general.  You can view the [integration test](https://github.com/tannerntannern/ts-mixer/blob/master/test/integration/class-validators.test.ts) made specifically for this issue as proof that it works.

Sorry it took so long to resolve this issue!  Closing for now.

[2020-03-27 04:03] #15 closed

[2020-03-27 04:08] tannerntannern commented on #17
@naranjamecanica, I'm closing this issue for now since I haven't heard back.  I do have a [basic test](https://github.com/tannerntannern/ts-mixer/blob/master/test/integration/mixin-with-getters-and-setters.test.ts) that demonstrates getters should work.  Let me know if you continue to have issues.

[2020-03-27 04:08] #17 closed

[2020-03-27 05:03] kenberkeley commented on #15
Holy God! 🙏🙏🙏

On Fri, 27 Mar 2020 at 15:03, Tanner Nielsen <notifications@github.com>
wrote:

[2020-03-27 13:45] morrislaptop commented on #15
Great!

[2020-03-30 09:48] kenberkeley commented on #15
Sorry for the century-late reply. 😂

I created a demo here: https://repl.it/repls/PaleDrearyShockwave
You can click "run" to see the result, which is not the expected.

It seems `ts-mixer` still not picking up the decorators.

[2020-03-30 11:50] tannerntannern commented on #15
Sorry, I should have mentioned that the fix is requires an extra step when applying decorators: https://www.npmjs.com/package/ts-mixer#mixing-with-decorators

[2020-03-30 20:49] kenberkeley commented on #15
@tannerntannern
Sorry for missing the doc 😂

However, the demo provided in the doc has type errors:

![image](https://user-images.githubusercontent.com/13287948/77960289-c0910300-7323-11ea-895c-25ae623f3a0c.png)

![image](https://user-images.githubusercontent.com/13287948/77960346-e0c0c200-7323-11ea-91dc-7bb61af0fcc7.png)

Another question is, how to decorate multiple validators?

For example:

[c

[2020-03-31 04:01] tannerntannern commented on #15
Hi @kenberkeley, glad you got it working.  As for the multi-validator suggestion, I would prefer that a separate issue/feature request be opened.  It can definitely be done "on the JavaScript side", but the typing might not be so simple given that the order of decorator application matters for class decorators.

Happy to discuss this in another issue (or PR if you'd like to take a crack at it!)

[2020-03-31 06:25] kenberkeley opened #19 "Better API for multiple decorators (very low priority, since the API design is elegant enough 😁)"
First of all, thanks for your precious time and efforts 🙏🙏🙏

Status quo:

[code]

Proposal:

[code]

[2020-03-31 06:25] kenberkeley commented on #15
Follow up: https://github.com/tannerntannern/ts-mixer/issues/19

[2020-04-03 03:57] tannerntannern commented on #19
I agree that it multiple decorators in a single call may look cleaner, but I'm not so sure it would be a good idea for a few reasons.

The main reason is that I think that the evaluation order could be misleading since decorators are evaluated ["bottom-up"](https://www.typescriptlang.org/docs/handbook/decorators.html#decorator-composition).  Consider the following:

[code]

Should `property1` be e

[2020-04-03 04:00] kenberkeley commented on #19
Well, with import alias, it seems that I can close this issue 😂

[2020-04-03 04:00] #19 closed

[2020-04-03 12:10] Judahh opened #20 "Mixin Parent Class does not receive Child Class's "this"."
When using regular heritance:
[code]

Outputs:
[code]
But when I use Mixin from ts-mixer:
[code]

Outputs:
[code]

So it's not getting the correct "this"

[2020-04-04 01:37] tannerntannern commented on #20
Hi @Judahh, I probably should have made this more explicit in the [caveats section of the README](https://github.com/tannerntannern/ts-mixer#caveats), but this is expected behavior.  Unfortunately, ES6 makes it impossible to call constructors as regular functions, which is necessary to get the "correct" behavior.

Something I've considered previously (but haven't seen the demand for it until now)

[2020-04-04 11:41] Judahh commented on #20
Yes It would help me a lot

[2020-04-07 18:49] Judahh commented on #20
One question, is there a beta version for this release or is not so simple to implement?

[2020-04-07 21:05] tannerntannern commented on #20
Hi @Judahh, thanks for your patience.  I've started working on this but I haven't gotten a chance to push anything out to npm yet.  I'm hoping to get more time this evening.  I will post a link here when I have a beta version ready to go!

[2020-04-10 19:29] bluelovers opened #21 "anyway support set sub<KeyType, ValueType> to inherit parent<KeyType, ValueType>?"
[code]

[2020-04-10 20:51] tannerntannern commented on #21
Please see https://github.com/tannerntannern/ts-mixer#mixing-generic-classes

[2020-04-10 21:31] #21 closed

[2020-04-10 21:55] bluelovers opened #22 "class is wok, but if run with jest will throw error"
[code]

[code]

[2020-04-10 22:38] tannerntannern commented on #22
I'm sorry @bluelovers, but this doesn't give me nearly enough information to reproduce the issue.  Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2020-04-10 22:51] bluelovers commented on #22
need run with `jest`

[code]

[code]

[code]

[2020-04-13 01:15] lucastorress commented on #20
I need this too. Waiting for release of this beta version! @tannerntannern

[2020-04-13 06:01] tannerntannern commented on #20
Thanks for your patience everyone.  The [beta release](https://www.npmjs.com/package/ts-mixer/v/5.2.0-beta.0) is available.  You will have to use `npm install ts-mixer@5.2.0-beta.0` in order to get the beta rather than 5.1.0.  I've also added a [section in the docs](https://www.npmjs.com/package/ts-mixer/v/5.2.0-beta.0#dealing-with-constructors) explaining a bit more about the feature.

Please let

[2020-04-13 22:33] Judahh commented on #20
Looks like when you have more than 3 levels of heritance 'this' starts to stop working

[2020-04-13 22:35] Judahh commented on #20
Is there an ecma version that solves this problem?

[2020-04-13 23:43] tannerntannern commented on #20
Thanks for catching.  I will try to look into this later tonight.  If you could provide a minimal code snippet that reproduces the issue, it will help me incorporate it into my test suite faster. 👍

Sort of, but it probably won't help you here.  Previous versions of `ts-mixer` used to behave differently depending on whether your compile target was set to `es5` or `es6`.  The reason for this was th

[2020-04-14 01:58] Judahh commented on #20
[code]

Another problem is that is not possible to override the init method
[code]

[2020-04-20 07:00] moltar opened #23 "Argument of type 'Function' is not assignable to parameter of type 'PropertyDecorator | MethodDecorator | ClassDecorator'."
Getting this with TypeORM decorator:

[code]

[code]

<img width="991" alt="Screen-Shot-2020-04-20-13-58-49" src="https://user-images.githubusercontent.com/491247/79722911-18ad9a80-830f-11ea-8f56-fe2cafae5529.png">

Any ideas?

Thank you!

[2020-04-21 02:09] tannerntannern commented on #23
Thanks for raising the issue @moltar.  The problem seems to be with the type definition of `CreateDateColumn`.  The return type is set as `Function`, but it really should be `PropertyDecorator` if the authors of TypeORM wanted to be as specific as possible.  I would raise an issue with them if you want to fix the root of the problem, but if you need something to work around the issue right away, y

[2020-04-21 08:41] moltar commented on #23
Thanks for the explanation, I will open an issue at TypeORM repo.

I will close this issue, as I guess there is nothing actionable here at the moment.

Again, thank you for your detailed response.

[2020-04-21 08:52] #23 closed

[2020-04-21 13:16] Judahh commented on #20
As soon as fixed, please post a beta version.
Thanks

[2020-04-21 15:41] lucastorress commented on #20
Yes, waiting for it. Thanks.

[2020-04-22 05:16] tannerntannern commented on #20
I apologize for keeping you waiting... I have been looking into this, but I haven't quite narrowed down why it's happening yet.  In the meantime, could you provide a little more context about why you need this particular pattern?  I still plan on fixing the bug, but it would be nice to know more about how people are using this library.

[2020-04-23 04:45] tannerntannern commented on #20
[v5.2.0-beta.1](https://www.npmjs.com/package/ts-mixer/v/5.2.0-beta.1) is now available.  I believe this fixes the issue you raised @Judahh.  The bug was related to mixing classes that were already mixed by `ts-mixer`.  This is something the library should be able to handle just fine (now that the bug is fixed), but it is a bit of an anti-pattern.

To illustrate, this is a similar hierarchy to wha

[2020-04-23 11:13] Judahh commented on #20
Thanks, but for my problem is not possible to skip, because is a two project problem. There are two projects. One used by the other, and just a fraction is visible to the other and both use ts-mixer. So it's not possible to skip a class.

[2020-04-23 23:36] tannerntannern commented on #20
Hi all, once again let me know if you run into any issues.  If not I'll promote it to a full release in a few days!

[2020-04-29 03:49] tannerntannern commented on #20
[5.2.0](https://www.npmjs.com/package/ts-mixer/v/5.2.0) has been released.  Closing for now.

[2020-04-29 03:49] #20 closed

[2020-05-08 01:26] bfbechlin opened #24 "Mix decorator is not copying the base class name"
First of all, I would like to congratz you for your useful package.

But I have a suggestion or maybe a bug fix, depending on whether it's a design or not xD
I have been using the mix decorator in some classes for about 1 month and it's a bit confusing having all of them with the same name (MixedClass) as it's showed in the picture.
Just copying the property constructor.name in the class returned

[2020-05-08 01:33] tannerntannern commented on #24
Great idea!  This should be relatively simple to implement if you wanted to open a PR.  Otherwise I will take a closer look at this tomorrow.

[2020-05-08 12:59] tannerntannern commented on #24
Fixed in [5.2.1](https://www.npmjs.com/package/ts-mixer/v/5.2.1)

[2020-05-08 12:59] #24 closed

[2020-05-12 18:12] Judahh opened #25 "Sometimes constructor does not see elements from default init function."
- Sometimes constructor does not see elements from default init function.
[code]

[2020-05-12 19:50] tannerntannern commented on #25
Hi @Judahh, these sound like separate problems to me, so probably best to have a separate github issue for each.  But either way I will need more details to reproduce.

[2020-05-13 12:27] Judahh opened #26 "Sometimes is not visible Parent's protected functions to it's children"
- Sometimes is not visible Parent's protected functions to it's children:
...Working on reproduction...

[2020-05-17 04:07] tannerntannern commented on #25
🤔  I'm failing to see how this relates to `ts-mixer`, as I don't see any usage of `@mix` or `Mixin`.  Could you please clarify your issue?

[2020-05-17 04:08] tannerntannern commented on #26
Hi @Judahh, any luck on reproducing this issue?

[2020-05-17 04:25] tannerntannern commented on #22
@bluelovers, I am unable to reproduce this issue.  I used your code sample in my test suite and no errors were thrown.  I was using mocha instead of jest, but the test framework shouldn't matter for an issue like this.  I am closing the issue for now, but if you have clearer instructions on how to reproduce I'd be happy to help.

[2020-05-21 21:24] tannerntannern commented on #25
Hi @Judahh, I haven't heard back I'm not seeing a connection to `ts-mixer` here.  Please open another issue if you still think there's a `ts-mixer`-related issue here.

[2020-05-21 21:24] #25 closed

[2020-05-27 00:24] tannerntannern commented on #26
Closing for now as I haven't gotten any more details about this issue.

[2020-05-27 00:24] #26 closed

[2020-05-31 01:23] LemonPi opened #27 "Check if object's class has mixin"
Is there a way to check if an object uses a certain mixin (its class is defined with that mixin)? My use case for example would be
[code]
I could work around this by checking if the object has a certain function, but I would prefer a more general solution (since this solution would be specific to the methods of each mixin)

[2020-05-31 04:37] tannerntannern commented on #27
Hi @LemonPi, so I believe the functionality you're looking for is [custom `instanceof` behavior](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/hasInstance), which is currently listed as a "non-feature" of ts-mixer.  The primary reason for this is that in order to define this custom behavior, ts-mixer would have to modify the source classes, which I would _

[2020-05-31 17:16] LemonPi commented on #27
Ah interesting, I didn't know that you could implement custom `instanceof` behaviour with `Symbol.hasInstance`! And yeah, I think something "softer" would be just fine (it can just a call to a third party function rather than the `instanceof` operator).
One solution I can think of is if in the mixin module you have a map of base class to arrays of mixin classes that you populate inside calls to `M

[2020-05-31 17:27] tannerntannern commented on #27
This map solution you describe is exactly what I'm investigating at the moment.  However, it is a little more complicated than just checking the mapped array, because the mixed class may be buried in the prototype chain, and the mixed class's constituents may also have mixed classes buried in their prototype chains.

[2020-05-31 18:34] LemonPi commented on #27
Hmm things could get expensive with large prototype hierarchies... I'm currently using a heuristic way of checking that all properties of a mixin are in the prototype chain of the object somewhere. I'm not sure how the performance of this compares to prototype finding, but it also requires that I do the casting which is annoying.

[2020-05-31 18:53] tannerntannern commented on #27
Well good news: you won't have to cast anymore because the `hasMixin` function already does the type narrowing for you.  [5.3.0-beta.0](https://www.npmjs.com/package/ts-mixer/v/5.3.0-beta.0) has been released, and you can try it out today with `npm install ts-mixer@5.3.0-beta.0`.  The new [README section](https://www.npmjs.com/package/ts-mixer/v/5.3.0-beta.0#hasmixin) covers it in more detail.

Le

[2020-05-31 19:12] LemonPi commented on #27
Great, seems to work fine! The narrowing conversion removes even more boilerplate (and things that could get out of sync), which my motivation for using this library in the first place :D. I haven't done any profiling, but I didn't see any dramatic difference in switching so it should be good to go 👍

[2020-06-01 01:48] tannerntannern commented on #27
Glad to hear it works well for you.  [5.3.0](https://www.npmjs.com/package/ts-mixer/v/5.3.0) is live.  Thanks for your interest in ts-mixer and helping improve the library!

[2020-06-01 01:48] #27 closed

[2020-06-12 10:50] MigasEu opened #28 "Decorator deep inheritance not working"
I'm working with class validator and ts-mixer, but it seems to have a problem inheriting inherited decorators. It inherits the decorators from the parent, but not from grandparents.

Example:
[code]
This causes only validations from `Statusable2` to be triggered, and the ones from `ExtendedObject` to be ignored.

A workaround is to do `Mixin(Statusable2, Disposable, Statusable, ExtendedObject)`, b

[2020-06-12 14:18] tannerntannern commented on #28
Thanks for reporting and for the code sample, that will make it quicker for me to test.  I'll try to resolve this soon, but I do have a busy weekend so it may be a few days.

[2020-07-27 21:30] yaquawa opened #30 "How does it work under the hood?"
How amazing...!

I've tried figured out how this thing works, soon I realized, this is too hard to understand for me.

Could you add some explanation for this on the README ?? Thanks!

[2020-07-31 03:16] tannerntannern commented on #30
Hi @yaquawa, thanks for the interest in the library.  I think some diagrams illustrating the two underlying mixing methods (prototype mixing and proxying) would be helpful for people to see, especially for those who would like make contributions.  I haven't had time to work on this project lately, so it's hard to say when I'd be able to get around to it, but I will leave this issue open as a remin

[2020-07-31 16:57] tannerntannern commented on #30
In the meantime [this](https://github.com/tannerntannern/ts-mixer#settings) might shine some light on how the mixing is accomplished under the hood

[2020-08-02 20:24] yaquawa commented on #30
Thanks @tannerntannern !
I'm using this lib very hardly lately. Looking forward to having more materials for this on the readme page.💖

[2020-10-29 13:49] steveetm commented on #22
This is really a jest only issue, struggling with same problem atm. Instructions are clear, repro is plain simply, just try to mixin something into a class extended from EventEmitter and run the test _with jest_.

[2020-10-29 14:30] steveetm commented on #22
[code]

If you return with `Object` instead of undefined then everything is fine, but there is a test which especially tests this function to not return undefined, while the comment says it should return Object.prototype for most unrelated objects. Probably some jest magic in the bakcground, but I don't see while this function should ever return undefined. :/

[2020-10-30 14:38] tannerntannern commented on #22
Thanks for digging into this @steveetm.  It does seem very strange that this only affects Jest, but I will have to look into this more.  Also interesting that the issue comes down to this function.  I haven't had time to investigate yet, but I would think that something needs to change in the handling of the _result_ of this function rather than changing the function itself.

I think undefined mak

[2020-10-30 21:07] vanakema commented on #28
Just bumping this, as we just ran into this issue too.

[2020-11-17 01:02] kenberkeley opened #31 "[Feature request] Support class-transformer"
At the moment `ts-mixer` supports [class-validator](https://github.com/typestack/class-validator) quite well except the scenario requires [class-transformer](https://github.com/typestack/class-transformer).

For example: https://stackoverflow.com/a/58366367/5172890 , `@Type` is required for nested collection objects validation.

<details>
  <summary>Online REPL example <a href="https://repl.it/@ke

[2020-11-17 01:12] kenberkeley commented on #31
Workaround: suppress the type error by `// @ts-ignore` or `// @ts-expect-error`

[2020-11-17 03:46] tannerntannern commented on #31
Try [`@decorate(Type(() => Tag) as PropertyDecorator)`](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAcigUwGYBtkGMYFoTIwCGAJkcQgFCiSxwDecJ205ycAvnKlBCIjADO+YAA9kUKjWjx6lOHACSgxQDsYAGnlLBAZRhRgqgOZaFygHIQYAUXAwAnmZ0BBKFCJPtbjw4CyRrrAAF7IzgBqROjAZDDIFsiCcSSUXDx8iFjoRILCAG5RMeTQUuAyDHAAKg5g7Gm8-AhZOcIGRKqCqNAEktRldIxtHV1QIC6qJJHRsci6DqpYnNwNmdm5uEOd3RK4BdPFvZTNuVVExgzaAALMWKxxABTKajD3AJSv2j

[2020-11-17 03:48] #31 closed

[2020-11-18 07:16] tannerntannern commented on #28
Hello all, I'm sorry for taking so long to resolve this -- my life has been terribly busy lately and I haven't had time to really sit down and figure this one out until recently.  This issue should be resolved in [v5.4.0](https://www.npmjs.com/package/ts-mixer/v/5.4.0), and you can additionally [customize how decorators are inherited](https://www.npmjs.com/package/ts-mixer/v/5.4.0#settingsdecorato

[2020-11-18 07:16] #28 closed

[2020-11-18 07:21] tannerntannern commented on #22
Hi @steveetm, I just released [v5.4.0](https://www.npmjs.com/package/ts-mixer/v/5.4.0) to resolve a different issue.  Curious if this issue still exists for you with the new version?  I didn't explicitly have this issue in mind when working, but there were a few changes related to enabling strict null checks that makes me wonder whether this issue will resolve itself.

[2021-01-13 21:09] tonygjerry opened #32 "ts4.2 abstract constructors"
Have you seen https://devblogs.microsoft.com/typescript/announcing-typescript-4-2-beta/#abstract-construct-signatures? Will caveat 1 be solvable after that? https://github.com/tannerntannern/ts-mixer#caveats

[2021-01-14 01:55] tannerntannern commented on #32
Thanks for bringing this to my attention @tonygjerry!  And yes, I believe you're correct about this resolving the abstract class caveat for `ts-mixer`.  That said, I'm not sure I want to implement this right away because it would force people to upgrade to TS 4.2 at a minimum, even though some folks may still be as far back as 3.8.

I will leave this issue open as a reminder to myself, but I don't

[2021-02-08 14:31] painor opened #33 "Only 10 classes are allowed for mixins."
Hey, I'm using your library for a project that needs 12/13 mixin classes (I know weird) but apparently this library only handles 10? I read bit of the code and saw that the function is declared manually. Is there a possibility to add as much as I need in terms of classes or is that a limit ?

[2021-02-09 18:58] tannerntannern commented on #33
Hi @painor, ten is just an arbitrary limit currently. I'll accept a PR if you wish to extend that limit further. Otherwise you may find it easier to simply mix a subset of your classes into one class, then feed that into another `Mixin()` call.  `ts-mixer` allows this and you'll still get the same typing benefits.

[2021-02-09 19:32] painor commented on #33
ah I didn't think of using Mixins with smaller classes. that might actually be a better idea than to keep extending the limit each time. thanks.

[2021-02-09 19:32] #33 closed

[2021-02-17 01:05] ishandrov opened #34 "mixin-based multiple inheritance not working with nestjs/swagger decorators"
Hi there,

Let me try to describe the issue with ts-mixer I'm facing right now. So I'm using nestjs as the main dev framework for the backend and currently implementing the register method that would allow the application to register all types of users. There're a few possible types of users here. Some of them are FAN, FIGHTER, JUDGE etc. Each user has its own set of specific parameters. For examp

[2021-02-17 04:58] tannerntannern commented on #34
Hi @ishandrov, thanks for your interest in ts-mixer and apologies for the puzzling issue.  I'm generally a little hesitant to dive into issues related to 3rd party libraries because I couldn't possibly support every one.  I'm especially hesitant in this case since it's not clear to me that ts-mixer is the root of the issue here.  I am familiar with Swagger in general, but not the integration provi

[2021-02-17 15:47] ishandrov commented on #34
Thank you for the quick reply.

Ah, I totally understand you. I agree it's not really clear where this issue stems from, so yeah...I got sort of desperate when I stumbled across this problem, I thought I had found a great solution but then the swagger fired off this error and the whole world came crushing down...Anyway, I gave up on that inheritance thing, at least for now and went for a single dt

[2021-02-20 12:54] mdwekat opened #35 "Multi mixins when using with @nestjs/mongoose not working"
Consider the following case:

[code]

Now using mongoose to update the document will ignore the Mixin props

[code]

the document will not change in the database. but if you used only one mixin the above example will work.

[code]

[2021-02-21 03:42] tannerntannern commented on #35
Hi @mdwekat, thanks for finding this.  As I've mentioned in other issues, I'm hesitant to dive deep into problems related to 3rd party libraries unless it's very clear that the issue is caused by `ts-mixer`.  I simply don't have time to sort out possible compatibility issues with every library out there. That is not to say that I won't investigate at all, but it's not clear to me that `ts-mixer` i

[2021-02-21 03:45] tannerntannern commented on #22
Closing due to inactivity.  I will reopen if folks are still running into this issue with the new version.

[2021-02-21 03:45] #22 closed

[2021-04-15 07:43] hakimio opened #36 "Provide ES module instead of commonJS"
It would be nice if there was es module build of ts-mixer. Starting with Angular v10, [commonJS dependencies produce "CommonJS or AMD dependencies can cause optimization bailouts" warning](https://blog.angular.io/version-10-of-angular-now-available-78960babd41) when building the application and we could potentially [reduce bundle size](https://web.dev/commonjs-larger-bundles/) when using es module

[2021-04-15 17:08] tannerntannern commented on #36
Hi @hakimio, I would certainly consider this but I'm very busy in the coming weeks so I'm not sure when I'd have a chance to look at this.  I'd certainly accept a PR!  It would likely just involve modifying the `yarn build` command to output es6 with commonjs, probably in separate folders, so might need to change the `main` and `module` fields of the package.json as well.  But again, I'd have to d

[2021-04-16 07:38] hakimio commented on #36
Hi @tannerntannern
I could create a pull request next week based on [this tutorial](https://blog.logrocket.com/publishing-node-modules-typescript-es-modules/) if you are too busy to do it. Basically we would have both ES and CJS modules plus `package.json` would look like this:
[code]

Does that sound good? Or do you prefer to only have ES module?

[2021-04-18 16:54] tannerntannern commented on #36
I'm having a hard time deciding how I want to handle this.  Having separate `cjs` and `esm` folders would be best for backwards-compatibility, but now we're nearly doubling the size of the package for those who aren't using tree-shaking bundlers (or aren't using bundlers at all).  Doing only ES modules would keep the size down for all cases, but will break things for people using vanilla Node.js.

[2021-04-18 17:23] hakimio commented on #36
NodeJS supports ES modules since version 12 released in 2019, 2 years ago. I don't think this is a good reason to keep commonJS. We could just do a new major release dropping cjs support and people will just have to update their nodejs version.

[2021-04-18 18:05] tannerntannern commented on #36
I believe v12 still required explicitly enabling support via an experimental flag, but yes Node support for ESM has been around for some time now... A major release with breaking changes is always an option, but I'm hesitant to do it just for the sake of being more modern.  There needs to be a good reason to impose mandatory updates on users, and I'm not sure I'm seeing one at the moment.

CommonJ

[2021-04-18 18:25] hakimio commented on #36
Ok, then let's look at another point you are making.

If you are using it on the server side, package size doesn't matter and if you are you using it on client side and care about app size, you are using/or should use some kind of a bundler.
`firebase`, one of the most popular packages developed by google, recently moved to [dual (cjs + es module) distribution](https://github.com/firebase/firebase

[2021-04-18 18:39] tannerntannern commented on #36
That is definitely a good point.  I don't quite agree with "[server side] package size doesn't matter", but it definitely matters less than client side.  At any rate, you might have convinced me that going with split cjs/esm folders shouldn't be so bad.  I still don't think dropping support for commonjs is a good option, but that shouldn't be relevant for our discussion moving forward.

If you wan

[2021-04-18 18:45] hakimio commented on #36
Ok, I'll try to make a PR tomorrow.

[2021-04-27 22:08] CobaltCoder opened #39 "Getting an error when using with Jest"
When I try to run a test on a class I've applied a mixin to I get this error:
TypeError: Cannot redefine property: Symbol(Symbol.hasInstance)
    at Function.defineProperties (<anonymous>)

Any thoughts on how I can get around this?

[2021-04-28 04:18] tannerntannern commented on #39
Hi @CobaltCoder, I believe some others have mentioned having issues with Jest, but I have not confirmed whether Jest is the actual culprit.  If you could create minimal reproducible example repo, I'd be happy to look into it more.

[2021-04-30 00:07] tannerntannern commented on #36
Your PRs have been included in [v5.4.1](https://www.npmjs.com/package/ts-mixer/v/5.4.1).  Thanks for the contribution!

[2021-04-30 00:07] #36 closed

[2021-06-08 20:43] S0c5 commented on #39
I'm facing the same issue, I traced the error to `copyProps` in `utils.ts`, it happens when a non configurable props is tried to set into the dest, a work-around is:

[code]

I'm preparing a PR for this issue.

[2021-06-19 19:00] chrisdostert commented on #32
@tannerntannern thanks for the awesome library! Any update on this now that 4.2 is out of beta and 4.3 is out?

[2021-06-21 03:04] tannerntannern commented on #32
Hi @chrisdostert, I'll try to cut out some time for this in the coming days.  It should be a relatively simple change

[2021-06-24 04:46] tannerntannern commented on #32
@tonygjerry, @chrisdostert, [v6.0.0-beta.0](https://www.npmjs.com/package/ts-mixer/v/6.0.0-beta.0) has been released, which adds proper abstract class support.  Since you both expressed interest in this feature, please give it a try and let me know if it behaves as you expect.  If I don't hear back after a few weeks I'll promote it to a full release.

[2021-06-24 18:44] tonygjerry commented on #32
Cool, I'm trying it out and it seems to work, seems like abstract classes can be both parents and children to mixins with 6.0 beta. I'll continue to monitor and let you know.

btw, I don't see any pr or commits in github for this new release?

[2021-06-24 19:08] tannerntannern commented on #32
Since I'm the only maintainer, I don't typically create PRs for releases.  All releases are triggered from tags.  For beta releases I often create the tags from feature branches, and for full releases I merge to master in addition to creating a tag.  If you're looking to see what changed since the last release, you can compare tags:  https://github.com/tannerntannern/ts-mixer/compare/v5.4.1...v6.0

[2021-06-24 19:17] tonygjerry commented on #32
I think I found an issue - this update seems to break the type inference of generics set by the mixin parent

[code]

Before, it correctly inferred the type to use the generic's default type

[2021-06-24 19:25] tannerntannern commented on #32
I don't believe this was ever supported without using the generics workaround.  Your example reworked would look more like this:

[code]

[Playground link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbziYAPOBfOAzKERwDkMAzgLQqoCmUhA3ALABQzVqkscwAdjDdgEMAxlTgBRVAPAAbUQmZw4AayoBPAFxwSMKDwDmjJhmbMh0gSRJwAggB4AKnDZ9uAEysBXbku4QA7txwALzikjJUAHyICnBgeHxCfK5wrgIwApr2hopCENzaUB6J0AAUqemZAJTRTIq

[2021-07-07 23:06] tannerntannern commented on #32
[6.0.0](https://www.npmjs.com/package/ts-mixer/v/6.0.0) has been published which adds support for abstract constructors

[2021-07-07 23:06] #32 closed

[2021-07-14 09:11] andreabosman16 opened #40 "When using with LitElement/Webcomponent getting `Illegal Constructor` error"
When mixin with Litelement/webcomponent classes you will get a `Illegal Constructor` error.

[2021-07-14 15:54] tannerntannern commented on #40
Hi @andreabosman16, thanks for finding this.  I don't have experience with WebComponents, but my understanding is this is an issue related to [extending `HTMLElement` in general](https://stackoverflow.com/a/62743456), not `ts-mixer` specifically.

Please correct me if I'm wrong, but at first glance this doesn't look like a `ts-mixer` issue to me

[2021-07-14 16:16] andreabosman16 commented on #40
Thanks for responding this quick. In general the illegal constructor problem is solved with customelement.define() but this isn’t the case with me. I think it is a problem with an the mixin classes being an anonymous class or something like this.

[2021-07-14 16:39] tannerntannern commented on #40
Alright, in that case I'm going to need some kind of minimal reproducible example in order to troubleshoot this.  Alternatively PRs are welcome if you have an idea of how to resolve the issue!

Can you also describe your use case a bit more so I have a better idea of why this is needed?

[2021-07-15 13:47] andreabosman16 commented on #40
I am going on vacation now i will give you a sample in two weeks if that is okay with you

[2021-07-15 14:56] tannerntannern commented on #40
I'm in no rush.  Enjoy your vacation 🙂

[2021-07-23 15:36] #39 closed

[2021-08-03 13:01] AlexanderKositsyn opened #41 "Doesnt work in IE11"
Ts-mixer doesnt work in IE11. IE11 doesnt support ES6 syntax. Any workaround or fix?

[2021-08-03 15:32] tannerntannern commented on #41
Can you provide more details about how to reproduce?  This doesn't give me much to go on.  At one point ts-mixer was definitely ES5 compatible, but it might require polyfills and/or specific TS compilation settings.

[2021-08-03 16:43] smff commented on #41
So, i have the same problem too.
I use "ts-mixer": "^6.0.0".
If you look at dist of ts-mixer in node_modules, you will see ES6:
<img width="550" alt="Снимок экрана 2021-08-03 в 19 40 00" src="https://user-images.githubusercontent.com/3962132/128053538-830b2e45-54f0-4b4c-86df-095843418a6b.png">

This ES6 goes to IE11 on build.

We have a workaround in webpack configuration:
<img width="814" alt="Сн

[2021-08-03 17:07] tannerntannern commented on #41
I think the solution will involve transpilation settings of some kind, such the webpack/babel config you listed above, or `tsconfig.json` settings like `"target": "es5"`.  It's highly dependent on your specific project.  Sorry I can't give more specific advice.

For what it's worth, I can't personally guarantee ES5 compatibility since all my tests run compiling to ES6.  But in the README, I detail

[2021-08-04 07:36] hakimio commented on #41
It seems es6 is the target since at least `ts-mixer` [version 5](https://github.com/tannerntannern/ts-mixer/commit/4dfa12579bd599e87630570846f8126953c7851b#diff-b55cdbef4907b7045f32cc5360d48d262cca5f94062e353089f189f4460039e0R4). Anyway, I agree with @tannerntannern: if you need IE11 support (even its popularity dropped to all time low of around 1% of worldwide desktop browser market share), you s

[2021-08-09 22:00] #41 closed

[2021-12-07 11:05] TrejGun commented on #35
it does not work with @nestjs-swagger too

[2022-02-24 11:16] Artaud opened #42 "Memory leak in mixin tracking"
The fact that mixins are being tracked globally in a map leads to a memory leak as the mixins are never unregistered from the map, preventing garbage collection of the respective classes.

https://github.com/tannerntannern/ts-mixer/blob/2e433b43d8c332d35222a656fcc78e08b0a83716/src/mixin-tracking.ts#L5

Simple solution would be to use a WeakMap.

[2022-02-24 11:18] Artaud commented on #42
Also - regarding this design decision - why are mixins tracked in a global map? Wouldn't it be more handy to add some metadata onto a class mixin is applied to?

[2022-02-24 16:36] tannerntannern commented on #42
Thanks for raising the issue.  `WeakMap` indeed seems like a simple fix.  I'd happily accept a PR!  Ideally we'd also want a mocha test that verifies that the memory leak doesn't happen anymore, which I'm not sure how to do.

Regarding the design decision -- I honestly don't remember 😅.  I think it has something to do with the fact that `hasMixin(instance, mixin)` doesn't actually require `mixin`

[2022-03-31 18:43] spearmootz commented on #35
i agree 2ith @TrejGun i am having issues combining controllers in nestjs due to dependency injection. the functions get called but the dependency injection does not work so the injected variables are undefined

[2022-03-31 18:54] spearmootz commented on #35
not sure if this is due to property decorators. function decorators may be working correctly

[2022-04-21 08:13] JacopoSciampi opened #45 "Using custom interface in abstract extended class"
Hi,
first of all thank you for this amazing library.

I was wondering if would be possible to extend an abstract class (along with some others) that needs a T.
For example:

`export abstract class MyAbstractClass<T> { ... }`

and then in the main component :

`export class MyComponent extends Mixin(MyAbstractClass<string>, foo, bar, ...) { ... }`

Maybe I'm missing something but I can't figure how

[2022-04-29 17:32] actaruss commented on #35
Any news about this issue? Will be great to have the support for nestJs mongoose decorators 😭

[2022-04-29 18:08] tannerntannern commented on #35
@actaruss I've been waiting for someone to provide a minimum reproducible example.  And by that I don't just mean a code sample without context -- I need a repository with all dependencies specified, clear description of expected behavior, and code that demonstrates how the violation of expected behavior connects to `ts-mixer`.

I have very limited time to support this library.  I simply can't dig

[2022-04-30 01:46] TrejGun commented on #35
@tannerntannern

Hey man! thanks for your efforts. Here is a minimal example you are looking for

https://github.com/GemunIon/nestjs-validation/tree/ts-mixer
please note this is not the main branch

how to use:
[code]

then there are two examples

first one is about class-validator

[code]

to request URL with bug that prints
[code]
while the real error should be something like this
[code]

and th

[2022-05-01 23:13] tannerntannern commented on #35
@TrejGun Thank you for the example code.  I did not spend a whole lot of time on this, but the first thing I changed was adding the `@decorate` wrapper, as [suggested above](https://github.com/tannerntannern/ts-mixer/issues/35#issuecomment-782790609) and [described in more details in the README](https://github.com/tannerntannern/ts-mixer#mixing-with-decorators) (please see section on "Mixing with

[2022-05-02 00:44] TrejGun commented on #35
thanks this works!

[2022-05-02 00:47] tannerntannern commented on #35
Thanks @TrejGun.

@mdwekat @actaruss Can you also verify that this resolves the problem?  I'd like to close this issue.

[2022-05-02 05:23] TrejGun commented on #34
this was tested in https://github.com/tannerntannern/ts-mixer/issues/35

[2022-05-02 12:20] mdwekat commented on #35
@tannerntannern Thanks for all the support and time. I was testing this today and it worked like a charm 😄

[2022-05-02 12:20] #35 closed

[2022-05-23 13:37] marmaak commented on #40
Hi @tannerntannern I think this issue is quite simple to explain even without a minimum reproducible example and I can try to explain it a little bit in depth since we faced the same.

Immagine that you want to create a basic class in your code to add functionalities on top of the `HTMLElement` class (exactly the same that LitElement is doing):

[code]

Than you want to create many different WebCo

[2022-05-23 14:45] marmaak commented on #40
Maybe the solution can be to create a function that will check recursively in the prototype chain if any ancestor of the constructor is of type `HTMLElement` and only in this scenario instead of calling the `new` operator use the `document.createElement`.

To achieve the above one assumption should be mandatory, the fact that each class extending the `HTMLElement` should have a static property whe

[2022-05-25 13:48] tannerntannern commented on #40
Hi @marmaak -- thank you very much for the clear description of the issue and a possible solution.  I understand what's going on now, but I'm not necessarily sold on the solution.  I'm hesitant to make `ts-mixer` aware of web components at all because it's meant as a front-end/back-end agnostic library.  I'm also hesitant to further add the restriction that web component classes have a static `sel

[2022-05-25 14:23] marmaak commented on #40
Hi @tannerntannern, thanks for the quick reply. I think the solution you proposed is even better, and as you said this will give other devs the opportunity to do whatever they want in that phase. I might be able to help and contribute with a PR, not a big deal from my side.

If we would like to agree on how the code should look like I also think that it will be important for other devs to have the

[2022-05-25 23:13] TrejGun commented on #34
good to be closed. thanks.

[2022-05-26 03:39] #34 closed

[2022-05-26 04:05] tannerntannern commented on #40
@marmaak Thanks for offering to help.  I think what you describe isn't too far off what I imagined.  Rather than allowing users to override a single `copyProps` call however, I think we'd have more flexibility by simply overriding the entire loop.  I haven't tested it, but I imagine something like this in the `settings.ts` could work:

[code]

Then `MixedClass` would simply invoke `settings.handle

[2022-05-28 01:23] jfavrod opened #46 "Can it work with Tsyringe Decorators?"
The [tsyringe](https://www.npmjs.com/package/tsyringe) package - a popular dependency injection framework - uses class (e.g. `@injectable`) and constructor parameter (e.g. `@inject`) decorators. Can `ts-mixer` work with these decorators? I've tried and I'm getting errors.

![image](https://user-images.githubusercontent.com/1852827/170804259-8b4abc4e-4d4d-4815-b1fb-4c07ef954dcd.png)
![image](https:

[2022-05-31 14:53] tannerntannern commented on #46
Hi @jfavrod, according to the [features list](https://github.com/tannerntannern/ts-mixer#features) only "class, method, and property decorators" are currently supported.  Supporting parameter decorators would be a new feature that I won't have time to consider for quite awhile.  I'd certainly be open to a PR to add this feature though!

[2022-06-21 13:50] Nxtivision opened #47 "Ts-mixer with Angular"
Hello,

Thank you for this nice library, it seems to be very interesting to use for our use cases.

However, I'm not able to use it properly in Angular. Here is an example :

[code]

[code]

[code]

[code]

The error thrown is:
`Error: Cannot set new properties on Proxies created by ts-mixer`

After some investigation, it seems there is a problem with the constructor:
![2022-06-21_15h49_28](https:

[2022-06-22 03:29] tannerntannern commented on #47
Hi @Nxtivision, the first thing I'm curious about is whether it's necessary to use `ts-mixer`'s proxy settings in your case.  I can't say for certain without doing a deep dive, but I'd guess Angular's dependency injection mechanisms could cause problems with those proxy settings.

Also before I can dive deeper I'll need a [minimal reproducible example](https://stackoverflow.com/help/minimal-reprod

[2022-07-11 12:21] liamdefty opened #48 "@mix multiple classes and passing constructor args"
Firstly, this lib is neat - thanks for making it!

One thing I'm struggling with (I don't know if it's even possible or how it would work) is how to mix two classes that require constructor args. Here's an example:

[code]

Is there a different pattern I could follow to get a similar result? Any help would be appreciated!

[2022-07-11 15:25] tannerntannern commented on #48
@liamdefty, what you describe should be possible provided that the constructor signatures are compatible (if they're not, a mixin is probably not the best pattern for the job).

I can't say for certain since I can't see the source for Class1 and Class2 or the error you're experiencing, but I think you may have meant to spread the constructor arguments in your example (`constructor(...args){ super(

[2022-07-12 09:11] liamdefty commented on #48
@tannerntannern Ah apologies, the issue I was having was because the constructor signatures aren't compatible, so that makes sense. I guess a mixin probably isn't the best solution here - thanks for the response!

[2022-07-12 15:10] tannerntannern commented on #48
No worries @liamdefty.  I could possibly give a more helpful suggestion if I knew more about your use case, but I will leave that up to you.  Closing for now

[2022-07-12 15:10] #48 closed

[2022-08-01 08:06] ckohen opened #49 "Caveat 3 is not true"
Caveat 3 states there is no way to call the constructor of a class with the correct `this`  context. This is in fact not true.

As can be seen in the examples at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect/construct a simple statement change can achieve just that.

[code]

Am I missing something here?

I believe I see where this change would need to be

[2022-08-01 15:20] tannerntannern commented on #49
@ckohen, thanks for digging into this.  Unfortunately, I don't believe `Reflect.construct` can be used as you describe.  The third parameter is supposed to be another constructor, not a `this` parameter.  As I understand it, `Reflect.construct`'s only advantage over `new` is being able to use a constructor and prototype from two different classes.  It does not solve the issues outlined in caveat 3

[2022-08-01 15:20] #49 closed

[2022-08-02 03:39] ckohen commented on #49
Ah, I see, the "without new" threw me off for some reason since Reflect.construct isn't "new" persay. But yeah, that's an interesting use case that I think is probably way less useful, but so it is. I don't think this is an issue for me at all, just noticed it while reading up.

[2022-09-13 19:47] Juknum opened #51 "[QUESTION or BUG] TypeError: (0 , _1.<insert function here>) is not a function"
Hi, I've just discovered your library (and it seems to be awesome) but I'm encountering a weird error:

[code]
While executing the following:

[code]

Is there anything related to your library? Or I presume I'm doing something wrong, but I'm not experienced enough to see what I do wrong aha :/

[2022-09-13 20:51] tannerntannern commented on #51
Hi @Juknum, I can't really tell what you're trying to do from the code sample, but ts-mixer is designed to mix plain old classes.  Using both the function-that-returns-a-class pattern _and_ ts-mixer seems like a strange choice to me, at first glance.

It looks like you have a number of classes: A, B, C(?) and D.  What are you trying to accomplish?  How do you want these classes to relate to one an

[2022-09-13 21:12] Juknum commented on #51
The basic idea was to extend `B` into `A` using methods from a "generic" class (where methods are applied to another class too).

Another example:
[code]
If you know a better way to implement that kind of stuff I'm all ears aha :p

[2022-09-13 22:42] Juknum commented on #51
I've committed my changes to my project, you can see them with the commit above, files are within `src/overrides/discordJS/slashCommandBuilders/`

[2022-09-14 18:47] tannerntannern commented on #51
I'm still struggling to understand what you're trying to do.  Frankly, I don't see a reason to use ts-mixer at all in this situation if you wish to use the function-that-returns-a-class pattern (that ts-mixer was designed to avoid).  For example, `ExtA` doesn't need to mix both `A` and `choose(new A())` if `choose(new A())` already has `A` in its hierarchy.

If both A and B have some of the same f

[2022-09-14 18:47] #51 closed

[2022-09-15 23:24] Juknum commented on #51
Yup you're totally right, I was struggling and had to rethink everything, finally, I'm still using your library aha (it's much simpler with it, thanks)

[2022-11-25 08:11] gkasse opened #53 "TypeError when running tests in Angular v15"
Hello. Thanks for making a great library.
I usually use this library with Angular, but when I set Angular to v15, it compiles fine with `ng serve`, but with `ng test` I get the following error.

[code]

The Angular component class under test is as follows.

[code]

The error occurs when looking for the Angular lifecycle hook method from the prototype of the parent class of the Angular component, b

[2022-11-28 23:05] tannerntannern commented on #53
Hi @gkasse, thanks for noting the issue and especially for taking the time to create a minimal reproducible example.  I'm not an Angular expert so I'll make an effort to track down the problem but I only have so much time to track down compatibility issues with every other library, so if the issue isn't obvious this issue may be stuck in "help wanted" status for awhile.  Thank you for your patienc

[2022-11-28 23:09] tannerntannern commented on #53
That said, I am a bit skeptical that ts-mixer has much to offer for an Angular project.  Angular, from my limited experience, has a robust dependency injection mechanism to make "composition over inheritance" design easier.  Might be an avenue worth exploring if this issue can't be resolved quickly.

[2022-11-29 02:03] gkasse commented on #53
@tannerntannern
Thank you for confirming this.

You are correct.

However, at that time I chose to mixin by ts-mixer instead of dependency injection because I wanted some functionality to be shared as the behavior of the component class.

I am thinking of using dependency injection, but for the reasons above, I was hoping to find a way to continue using ts-mixer, which is why I asked this question